<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x6.arcade.dao.ProcessInstanceVariableMapper" >
  <resultMap id="BaseResultMap" type="com.x6.arcade.entity.ProcessInstanceVariable" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version_id" property="versionId" jdbcType="BIGINT" />
    <result column="process_instance_id" property="processInstanceId" jdbcType="BIGINT" />
    <result column="process_node_id" property="processNodeId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="variable_name" property="variableName" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,version_id, process_instance_id, process_node_id, type, variable_name, is_delete, created_by,
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from process_instance_variable
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from process_instance_variable
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.x6.arcade.entity.ProcessInstanceVariable" >
    insert into process_instance_variable (id, version_id,process_instance_id, process_node_id,
      type, variable_name, is_delete, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{versionId,jdbcType=BIGINT},#{processInstanceId,jdbcType=BIGINT}, #{processNodeId,jdbcType=BIGINT},
      #{type,jdbcType=VARCHAR}, #{variableName,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.x6.arcade.entity.ProcessInstanceVariable" >
    insert into process_instance_variable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="versionId != null" >
        version_id,
      </if>
      <if test="processInstanceId != null" >
        process_instance_id,
      </if>
      <if test="processNodeId != null" >
        process_node_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="variableName != null" >
        variable_name,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="processInstanceId != null" >
        #{processInstanceId,jdbcType=BIGINT},
      </if>
      <if test="processNodeId != null" >
        #{processNodeId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="variableName != null" >
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.x6.arcade.entity.ProcessInstanceVariable" >
    update process_instance_variable
    <set>
      <if test="versionId != null" >
          version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="processInstanceId != null" >
        process_instance_id = #{processInstanceId,jdbcType=BIGINT},
      </if>
      <if test="processNodeId != null" >
        process_node_id = #{processNodeId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="variableName != null" >
        variable_name = #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x6.arcade.entity.ProcessInstanceVariable" >
    update process_instance_variable
    set version_id = #{versionId,jdbcType=BIGINT},
      process_instance_id = #{processInstanceId,jdbcType=BIGINT},
      process_node_id = #{processNodeId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      variable_name = #{variableName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectById" resultType="long">
    select id
    from process_instance_variable
    where version_id = #{versionId,jdbcType=BIGINT}
      and process_instance_id = #{processInstanceId,jdbcType=BIGINT}
      and process_node_id = #{processNodeId,jdbcType=BIGINT}
  </select>
  <select id="selectByProcessInstanceId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from process_instance_variable
    where process_instance_id = #{processInstanceId,jdbcType=BIGINT}
      and is_delete = 0
      and version_id = #{versionId,jdbcType=BIGINT}
  </select>
  <select id="selectByProcessNodeId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from process_instance_variable
    where process_node_id = #{processNodeId,jdbcType=BIGINT}
      and is_delete = 0
      and version_id = #{versionId,jdbcType=BIGINT}
    </select>
  <update id="deleteByProcessNodeId">
    update process_instance_variable
    set is_delete = 1,
        updated_by = #{updatedBy,jdbcType=VARCHAR},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where process_node_id = #{processNodeId,jdbcType=BIGINT}
      and process_instance_id = #{processInstanceId,jdbcType=BIGINT}
      and version_id = #{versionId,jdbcType=BIGINT}
  </update>
</mapper>