<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x6.arcade.dao.ProcessTaskMapper" >
  <resultMap id="BaseResultMap" type="com.x6.arcade.entity.ProcessTask" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version_id" property="versionId" jdbcType="BIGINT" />
    <result column="process_instance_id" property="processInstanceId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version_id,process_instance_id, status, created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from process_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from process_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.x6.arcade.entity.ProcessTask" >
    insert into process_task (id,version_id, process_instance_id, status,
      created_by, created_time, updated_by, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{versionId,jdbcType=BIGINT},#{processInstanceId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.x6.arcade.entity.ProcessTask" useGeneratedKeys="true" keyProperty="id">
    insert into process_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="versionId != null" >
        version_id,
      </if>
      <if test="processInstanceId != null" >
        process_instance_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="processInstanceId != null" >
        #{processInstanceId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.x6.arcade.entity.ProcessTask" >
    update process_task
    <set>
      <if test="versionId != null" >
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="processInstanceId != null" >
        process_instance_id = #{processInstanceId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x6.arcade.entity.ProcessTask" >
    update process_task
    set process_instance_id = #{processInstanceId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByProcessInstanceId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from process_task
    where process_instance_id = #{processInstanceId,jdbcType=BIGINT} and version_id = #{versionId,jdbcType=BIGINT}
    order by id desc
  </select>
  <select id ="selectLastTaskId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select id from process_task
    where process_instance_id = #{processInstanceId,jdbcType=BIGINT} and version_id = #{versionId,jdbcType=BIGINT}
    order by id desc limit 1
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from process_task
    <where>
      <if test="id != null and id>0" >
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="versionId != null and versionId>0" >
        and version_id = #{versionId,jdbcType=BIGINT}
      </if>
      <if test="processInstanceIdList != null" >
        and process_instance_id in
        <foreach collection="processInstanceIdList" item="value" index="index" open="(" close=")" separator=",">
          #{value}
        </foreach>
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createdBy != null and createdBy!=''" >
        and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
    </where>
    order by id desc
  </select>
</mapper>