<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProfile name="dev">

        <property name="DEV_FILE_PATH" value="./crawl_logs"/>

        <!--控制台输出日志格式-->
        <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %green(%date{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %boldMagenta(%logger{50}) [line:%line] - %cyan(%msg%n)
                </pattern>
            </layout>
        </appender>

        <!--保存info日志-->
        <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>
                    %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [line:%line] - %msg%n
                </pattern>
            </encoder>
            <!--滚动输出策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--路径-->
                <fileNamePattern>${DEV_FILE_PATH}/info.%d.log</fileNamePattern>
                <!--保留7天-->
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>

        <!--保存debug日志-->
        <appender name="fileDebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>
                    %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [line:%line] - %msg%n
                </pattern>
            </encoder>
            <!--滚动输出策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--路径-->
                <fileNamePattern>${DEV_FILE_PATH}/debug.%d.log</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>

        <!--只保存error日志-->
        <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>
                    %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [line:%line] - %msg%n
                </pattern>
            </encoder>
            <!--滚动输出策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--路径-->
                <fileNamePattern>${DEV_FILE_PATH}/error.%d.log</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>

        <appender name="logstashLog"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>121.46.231.179:8065</destination>
            <!-- encoder必须配置,有多种可选 -->
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            <!--输出日志可自定义，可根据自己需要配置-->
                            {
                            <!-- 应用名称 -->
                            "appname":"night-crawl",
                            <!-- 打印时间 -->
                            "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                            <!-- 线程名称 -->
                            "thread": "%thread",
                            <!-- 日志级别 -->
                            "level": "%level",
                            <!-- 日志名称 -->
                            "logger_name": "%logger",
                            <!-- 日志信息 -->
                            "message": "%msg",
                            <!-- 日志堆栈 -->
                            "stack_trace": "%exception"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <root level="debug">
            <appender-ref ref="consoleLog"/>
            <appender-ref ref="fileInfoLog"/>
            <appender-ref ref="fileDebugLog"/>
            <appender-ref ref="fileErrorLog"/>
            <appender-ref ref="logstashLog"/>
        </root>
    </springProfile>

</configuration>